#cookie-wall {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.cookie-content {
    background-color: white;
    padding: 20px;
    text-align: center;
}

#cookie-wall button {
    padding: 10px;
    background-color: #214222;
    color: rgb(0, 0, 0);
    border: none;
}
